<div *ngIf="!isModal" class="modal">
    <h4>Cateogry</h4>
        <div >
            <label *ngFor="let i of categories">
                <input type="checkbox" id="{{i.id}}" value="{{i.value}}"/>
                {{i.name}}
            </label>
            </div>
    </div>


  <div *ngIf="isModal">
    <ng-content></ng-content>
    <h4>Cateogry</h4>
    <div >
        <label *ngFor="let i of categories">
            <input type="checkbox" id="{{i.id}}" value="{{i.value}}"/>
            {{i.name}}
        </label>
        </div>
</div>