<div *ngIf="!modal">
    <h1>Cateogry</h1>
    <form class="category-list">
        <ul *ngFor="let i of categories">
                <label>
                    <input type="checkbox" id="{{i.id}}" value="{{i.value}}"/>
                    {{i.name}}
                </label>
        </ul>
        </form>
    </div>

<div *ngIf="modal" class="modal">
    <div class="header-categories">
        <h1>Filters</h1>
        <button  mat-button mat-dialog-close>X</button>
    </div>

    <form class="category-list">
        <ul *ngFor="let i of categories">
                <label>
                    <input type="checkbox" id="{{i.id}}" value="{{i.value}}"/>
                    {{i.name}}
                </label>
                
            </ul>
            <hr>
        </form>
        <div class="footer-buttons">
            <button class="btn-clear" (click)="limpia()">CLEAR</button>
            <button class="btn-save" (click)="guarda();">SAVE</button>
        </div>
</div>