<article>
<div class="head-title">
    <span class="title">{{featured?.name}}</span>
    <div class="filler"></div>
    <button >ADD TO CART</button>
</div>
<div class="feature">
<img class="img-feature" src={{featured?.image?.src}} alt={{featured?.image?.alt}} >
    <div class="txt-img-feature">
    <p>Photo of the day</p>
    </div>
</div>
<div class=" split-section footer-feature">
    <article class="text-section">
    <div class="title">
        <span > About the {{featured?.name}}</span>
    </div>
    <span class="subtitle">{{featured?.category}}</span>
    <p>{{featured?.description}}</p>
    </article>
    <article>
    <div class="title rigth">
        <span >People also buy</span>
    </div>
    <div class="also-buy-items">
        <article>Elem1</article>
        <article>Elem2</article>
        <article>Elem3</article>
    </div>
    </article>
</div>
</article>