<div class="cart-header">
    <span >Cart</span>
    <button class="btn-close-modal" mat-button mat-dialog-close >X</button>
</div>

<div class="cart" >
    
    <ng-template [ngIf]="cartItemCount>0" [ngIfElse]="noItems">
        
    <div class="cart-prod"*ngFor="let product of cartItems |async">
            <div class="product-info">
                <h4 class="cart-prod-title">{{product.name}}</h4>
                <h3 class="cart-prod-subtitle">{{product.currency}} {{product.price}}</h3>
            </div>
            <div >
                <img src="{{product.image.src}}" alt="{{product.image.alt}}">
            </div>
        </div>
        <hr>
        <footer>
            <button class="btn-clear" (click)="clearCart()">CLEAR</button>
        </footer>
    </ng-template>

    <ng-template #noItems>
        <span>No items in the cart</span>
    </ng-template>
    </div>