<div class="product">

    <div *ngIf="product?.featured"class="head-title">
        <span class="title">{{product?.name}}</span>
        <button (click)="addToCart()">ADD TO CART</button>
    </div>
    <div class="prod-img-container">
        <img [ngClass]="{
            'prod-img-featured': product?.featured,
            'prod-img-regular': !product?.featured,
            'minimized':minimized}"
            src={{product?.image?.src}} alt={{product?.image?.alt}} >
            <div *ngIf="product?.featured===true" class="txt-img-featured">
                <p>Photo of the day</p>
            </div>
            <div *ngIf="product?.bestseller===true" class="txt-img-bestseller">
                <p>Best Seller</p>
            </div>

            <div *ngIf="product?.featured===false" class="additional-text" (click)="addToCart()">
                <p>ADD TO CART</p>
            </div>

        </div>
    <div>
        <div *ngIf="product?.featured===false" class="prod-info">
            <p class="prod-cat">{{product?.category}}</p>
            <p class="prod-name">{{product?.name}}</p>
            <p class="prod-price">{{product?.currency}} {{product?.price}}</p>
        </div>

        <div  *ngIf="product?.featured"class=" split-section footer-feature">
            <article class="text-section">
            <div class="title">
                <span> About the {{product?.name}}</span>
            </div>
            <span class="subtitle">{{product?.category}}</span>
            <p>{{product?.description}}</p>
            </article>
            
            <article>
            <div class="title right">
                <span >People also buy</span>
            </div>
            <div class="also-buy-items">  
                <article *ngFor="let i of product?.people_also_buy">
                    <product [product]="i" [minimized]="true"></product>
                </article>
            </div>
            </article>
        </div>
    </div>
</div>