@font: 'Work Sans', sans-serif;
@letter-bold: 800;
@black: #000;
@grey: #656565;


header {
    display: flex;
    margin: 25px 0px;
}

body {
    font-family: @font;
    //margin: 0 auto;
    max-width: 1440px;
}

hr {
    border: 0;
    border-top: 5px solid #E4E4E4;
    height: 0;
    margin-bottom: 35px;
}

footer {
    font-family: @font;
    display: flex;

    button {
        border: 0;
        margin: 0;
        background-color: #fff;
        color: @black;
        font-size: 2vw;

    }
}

.filler {
    flex: 1;
}

.img-logo {
    width: 120px;
    height: 40px;
}

.img-shop-cart {
    width: 38px;
    height: 38px;
}

.head-title {
    margin-bottom: 20px;
    display: flex;

    span:first-of-type {
        font-size: 2rem;
    }

}

.title {
    font-size: 1rem;
    color: @black;
    flex: 1;
    font-weight: @letter-bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 1rem;
    color: @grey;
    font-weight: @letter-bold;
    text-transform: capitalize;
}

article>p {
    text-align: left;
    padding-right: 20px;
    color: @grey;
}

.head-selector-images {
    display: flex;
}

.photo-canvas {
    display: contents;
}

.split-section {
    display: flex;
    flex-wrap: wrap;

}

.categories {
    flex: 1;
    min-width: 20%;
    padding-left: 10px;
}

.product-canvas {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.product {
    width: 100%;
    //border: 1px solid red;
}

.img-feature {
    width: 100%;
    height: auto;
}

button {
    order: 3;
    background-color: @black;
    color: #fff;
    border: 0;
    padding: 5px 60px;
    font-family: @font;
    font-size: 1.2vh;
    font-weight: @letter-bold;

}


.cat-modal-icon {
    display: none;
}

/* Mobile avg widht resolution*/
@media (max-width: 768px) {
    .categories {
        display: none;
    }

    .cat-modal-icon {
        display: flex;
    }

    .head-title {
        flex-direction: column;

        span {
            font-size: 100% !important;
        }
    }

    .title {
        font-size: 100% !important;
    }

    .product-canvas {
        flex: 1;
        width: 100%;
        display: block;
    }
}