@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font: 'Work Sans', sans-serif;
@letter-bold: 800;
@black: #000;
@grey: #656565;


header {
    display: flex;
    margin: 25px 0px;
}

body {
    font-family: @font;
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
    padding: 10px 40px;
}

hr {
    border: 0;
    border-top: 5px solid #E4E4E4;
    height: 0;
    margin-bottom: 35px;
}

footer {
    font-family: @font;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

footer>button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: @black;
    border: 2px solid @black;
}

footer>button:disabled {
    border: 2px solid #474747;
    background-color: silver;
    color: #474747;
}



.cart-badge {
    background-color: black;
    color: white;
    border-radius: 100%;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: bolder;
    min-width: 20px;
    max-height: 14px;
    text-align: center;
    margin: 4px 40px 0 0;
    /* Centra el texto dentro del badge */
}

.filler {
    flex: 1;
}

.img-logo {
    width: 120px;
    height: 40px;
}

.img-shop-cart {
    width: 38px;
    height: 38px;
}

.head-title {
    margin-bottom: 20px;
    display: flex;
    gap: 12px;

    span:first-of-type {
        font-size: 2rem;
    }

}

.title {
    font-size: 1rem;
    color: @black;
    flex: 1;
    font-weight: @letter-bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 1rem;
    color: @grey;
    font-weight: @letter-bold;
    text-transform: capitalize;
}

article>p {
    text-align: left;
    padding-right: 20px;
    color: @grey;
}

.head-selector-images {
    display: flex;
}

.photo-canvas {
    display: contents;
}

.split-section {
    display: flex;
    flex-wrap: wrap;

}

.icon {
    width: 25px;
    height: 25px;
}

.categories {
    flex: 1;
    min-width: 20%;
    padding-left: 10px;
}

.product-canvas {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.img-feature {
    width: 100%;
    height: auto;
}

button {
    order: 3;
    background-color: @black;
    color: #fff;
    border: 0;
    padding: 5px 60px;
    font-family: @font;
    font-size: 1.2vh;
    font-weight: @letter-bold;

}


.cat-modal {
    display: none;
}

ng::deep .mat-mdc-dialog-container {
    position: absolute;
}

/* Mobile avg widht resolution*/
@media (max-width: 768px) {

    body {
        padding: 0px;
    }

    .cart-badge {
        display: none;
    }

    .categories,
    .sorting {
        display: none;
    }

    .cat-modal {
        display: flex;
        width: 23px;
        height: 23px;
    }

    .head-title {
        flex-direction: column;
        padding: 10px;

        span {
            font-size: 110% !important;
        }
    }

    .flex-row {
        flex-direction: row;
    }

    .title {
        font-size: 110% !important;
    }

    .product-canvas {
        flex: 1;
        width: 100%;
        display: block;
    }
}