<body>
  <header>
      <img src="../assets/img/bejamasLogo.png"  class="img-logo" alt="BEJAMAS_">
    <div class="filler">
    </div>
    <div class="cart-badge" *ngIf="cartItemCount>0" (click)="openCart()">{{cartItemCount}}</div>
      <img src="../assets/img/shopping_cart_icon.png" class="img-shop-cart" alt="cart_icon" (click)="openCart()">
  </header>
  <hr>
  <product [product]="featured"></product>
  <hr>
  <section >
    <article class="head-title flex-row ">
      <span class="title">Photography <span style="color: #656565;">/ Premium photos</span></span>
      <img  class="cat-modal icon" src="../assets/img/filters.png" alt="filters" (click)="openCategories()">
      <img class="sorting icon" src="../assets/img/sort_arrows.png" alt="sorting" title="Ordenado ascendente" (click)="changeSorting()">
      <label for="sorting" class="sorting">Sort by:</label>
      <select id="sorting-cmb" [(ngModel)]="sortPropertySelected" class="sorting cmb" (change)="setChangeSorting()" >
        <option  value=""></option>
        <option  *ngFor="let i of sortProperties" value="{{i.value}}">{{i.name}}</option>
      </select>
    </article>
    <div class="split-section">
      <div class="categories">
        <categories [modal]="false"></categories>
      </div>
      <div class="product-canvas">
        <div  *ngFor="let i of products" class="product" >
          <product [product]="i"></product>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button [disabled]="currentPage==1" (click)="prevPage()">PREV</button>
    <button [disabled]="currentPage==9" (click)="nextPage()">NEXT</button>
  </footer>
</body>