@import '../../app.component.less';

.product {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    height: auto;
    //padding: 10px 40px;
}

.prod-img-regular {
    // la del normal
    width: 100%;
    height: 35vh;
    object-fit: fill;
}

.prod-img-featured {
    width: 100%;
    height: auto;
}

.prod-info {
    text-transform: capitalize;

    p {
        margin: 10px 0;
    }
}

.prod-cat {
    color: @grey;
    font-weight: bolder;

}

.prod-name {
    color: #000;
    font-size: 1.2rem;
    font-weight: bolder;
}

.prod-price {
    color: @grey;
}

.prod-img-container {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.txt-img-featured {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    background-color: #fff;
    font-weight: 800;
}

.txt-img-bestseller {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5%;
    background-color: #fff;
    font-weight: 800;

    p {
        margin: 0;
    }
}

.footer-feature>article {
    flex: 1;
    box-sizing: border-box;
    margin-left: 10px;

}

.right {
    text-align: right;
}

.minimized {
    height: 26em;
}

.also-buy-items {
    display: flex;
    flex: 1;
    gap: 2vw;


    article {
        flex: 1;
        box-sizing: border-box;
    }

    article>product {
        zoom: 50%;
    }
}

.additional-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bolder;
    font-size: 1.2em;
}

/* Mobile avg widht resolution*/


.prod-img-container:hover .additional-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .footer-feature {
        flex-direction: column;

        article {
            margin-bottom: 15px;
        }
    }

    .product {
        padding: 12px;
        margin-bottom: 15px;
    }

    .prod-img-regular {
        height: 45vh;
    }

    .minimized {
        height: 30vh;
    }

    .right {
        text-align: left;
    }
}